html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4,
h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    width: 300px;
    margin-top: 200px;
}

#display {
    width: 300px;
    height: 40px;
    font-size: larger;
    text-align: right;
}

.top-row {
    display: flex;
    justify-content: space-evenly;
}

.panel {
    width: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

button {
    width: 60px;
    height: 60px;
    border: none;
    margin: 4px;
    font-size: larger;
}

.operand {
    background-color: lightgray;
}

.operator {
    background-color: lightblue;
}

.result {
    background-color: lightsalmon;
}